SECRET_KEY=django-insecure-fr9&t7-toh^^=@lsav$o04mq50b+k3a!3p87)cq8z6+3kdq=a@
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,backend

# Banco de dados — altere para 'sqlite' para usar SQLite localmente
DB_ENGINE=postgresql
DB_NAME=tcc_db
DB_USER=tcc_user
DB_PASSWORD=tcc_password
DB_HOST=db
DB_PORT=5432
